<html>

<head>
    <script src="../resources/lodash.js"></script>
    <script src="../resources/angular.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <h1>My accounts:</h1>
        <img ng-if="isLoading === true" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
        <table ng-if="isLoading === false && error === undefined" border="1px">
            <tr>
                <th>Account Id</th>
                <th>Account Name</th>
            </tr>
            <tr ng-repeat="account in accounts">
                <td>{{account.id}}</td>
                <td>{{account.name}}</td>
            </tr>
        </table>
        <h2 ng-if="error !== undefined" style="color:red">{{error}}</h2>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http, $timeout) {
            
            //Set isLoading flag
            $scope.isLoading = true;
            
            var auth_token = '';
            /** 
                Traditional synchronous approach 
            */

            // //Request using AJAX
            // var request = new XMLHttpRequest();
            // request.open('GET', 'https://jsonblob.com/api/6ecf4eac-9b57-11e8-b03b-5de0db91b3a3', false);  // `false` makes the request synchronous
            // request.send(null);

            // if (request.status === 200) {
            //     var response = JSON.parse(request.responseText);
            //     auth_token = response.access_token;
            //     console.log('My token is: ' + auth_token);
            // }

            // //Add authorization to request
            // request.open('GET', 'https://jsonblob.com/api/6b845823-9b59-11e8-b03b-238d81ee02f2', false);  // `false` makes the request synchronous
            // request.send(auth_token);

            // if (request.status === 200) {
            //     var response = JSON.parse(request.responseText);
            //     $scope.accounts = response.accounts;
            // }

            // $scope.isLoading = false;


            /**
                Promises approach
            **/
            //Step 1. Get authorization token
            $http.get("https://jsonblob.com/api/6ecf4eac-9b57-11e8-b03b-5de0db91b3a3")
            .then(function (response) {
                auth_token = response.data.access_token;
                console.log('My token is: ' + auth_token);
                return auth_token                
            })
            .then(function (auth_token) {
                //To simulate an error coming back from request
                if (auth_token == undefined) {
                    throw 'No authorization token';
                } 

                return $http.get("https://jsonblob.com/api/6b845823-9b59-11e8-b03b-238d81ee02f2")
                .then(function(response) {
                    $scope.accounts = response.data.accounts;
                    return response;
                })
            })
            .then(function(response){
                //Simulate network latency
                return $timeout(function(){
                    return response;
                },0);
            })
            .catch(function(reason){
                $scope.error = _.get(reason,'status') || reason;
                console.log('An error occurred in one of the requests', reason);
            })
            .finally(function(){
                $scope.isLoading = false;
                console.info("Setting isLoading back to false");
            });
            
        });
    </script>

</body>

</html>